p#Minkiewicz
{
  font-size:30px;
  color:#815ED0;
}

p#pMinkiewicz
{
  font-size:35pt;
  color:#e5c26c;
}

p#Minkiewicz
{
  font-size:1cm;
  color:#95901c;
}

p#Minkiewicz
{
  font-size:1.5cm;
  color:rgb(19%,95%,89%);
}
p#Minkiewicz
{
  font-size:40px;
  color:#15e06c;
}


p#Minkiewicz
{
  color:#4f409e;
}

p#Minkiewicz
{
  color:rgb(70%,64%,23%);
}
